Functional requirements

1.	Obtain visual info about table
2.	Communicate from image receiver to PC
3.	Create model of table state
4.	Compute possible shots
5.	Select optimal shot
6.	Communicate table state from Matlab
7.	Compute Instruction Set
8.	Communicate Instruction Set to uC
9.  Communicate response from uC to PC
10.	Interpret instruction set
11.	Move end-effector to desired location/orientation
12.	Keep track of machine location/orientation/information
13.	Take a shot
14.	Takes user input
15.	Can only interfere with the state of the table by attempting a shot
		def "State of table": arrangement of balls
16.	Move to pre-determined location upon user request
17. 

	